@import '../../index.scss';

.date-select-container {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto 2rem; 
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background: $gray-800;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid $gray-600; 
  
  .date-display {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    font-size: 1.1rem;
    font-weight: bold;
    color: $gray-100;
    
    .calendar-icon {
      color: $green-500;
    }
  }

  .icon-btn {
    background: transparent;
    border: 0;
    color: $gray-300;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.2s;

    &:hover {
      color: $green-500;
      background: rgba(0, 179, 126, 0.1);
    }
  }
}