@import '../../index.scss';

.register-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-900;
}

.register-content {
  width: 100%;
  max-width: 480px; 
  padding: 0 1.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .logo-icon {
    color: $green-300;
    margin-bottom: 1rem;
    background: rgba(0, 179, 126, 0.1); 
    padding: 0.5rem;
    border-radius: 8px;
  }

  h1 {
    font-size: 1.75rem;
    color: $gray-100;
    margin-bottom: 0.5rem;
  }

  p {
    color: $gray-300;
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; 

    .input-group {
      background: $gray-800;
      border-radius: 6px;
      border: 1px solid $gray-800;
      padding: 0 1rem;
      height: 3.5rem;
      
      display: flex;
      align-items: center;
      gap: 0.75rem;
      
      transition: border-color 0.2s;

      &:focus-within {
        border-color: $green-300;
        
        svg {
          color: $green-300; 
        }
      }

      svg {
        color: $gray-300;
        transition: color 0.2s;
      }

      input {
        flex: 1; 
        background: transparent;
        border: 0;
        color: $gray-300;
        font-size: 1rem;
        height: 100%;

        &::placeholder {
          color: $gray-300;
        }
        
        &:focus {
          outline: none; 
        }
      }

      button.eye-button {
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover svg {
            color: $gray-300;
        }
      }
    }

    button[type="submit"] {
      height: 3.5rem;
      background: $green-300;
      color: #FFF;
      border: 0;
      border-radius: 6px;
      font-weight: bold;
      margin-top: 1rem;
      cursor: pointer;
      transition: background-color 0.2s;
      
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;

      &:hover {
        background: $green-300;
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }

  a {
    margin-top: 2rem;
    color: $gray-300;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.2s;
    
    strong {
        color: $green-300;
    }

    &:hover {
      color: $gray-100;
    }
  }
}